/* 关于世纪利通模块（全屏+linkwise动画） */
.about-full {
  background-color: #fff;
  margin-top: 200px;
  /* padding: 100px 0; */
}
.about-title {
  font-size: 40px;
  font-weight: 700;
  color: #0066cc;
  margin-bottom: 40px;
  text-align: center;
}
.about-desc {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 2;
  font-size: 16px;
  color: #666;
}
.about-map {
  width: 100%;
  height: 400px;
  background-color: #12232d;
  color: #fff;
  padding: 50px;
  margin: 50px auto 0 auto;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-map-text1 {
  font-size: 22px;
}
.about-map-text2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 80px;
  margin-top: 10px;
}
.about-map-text3 {
  font-size: 16px;
  margin-top: 20px;
}
.about-map-img {
  flex: 0 0 250px;
}
.about-map-img img {
  width: 100%;
}
.enterprise-info {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}
.world-map {
  flex: 0 0 400px;
}
.world-map img {
  width: 100%;
}
.enterprise-text h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.enterprise-text p {
  font-size: 16px;
  color: #666;
  line-height: 1.8;
  margin-bottom: 20px;
}
