/* 联系我们模块（linkwise风格） */
.contact-linkwise {
  background-color: #f7f8fa;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  /* border: 1px solid red; */
}
.contact-title h2 {
  font-size: 40px !important;
}
.contact-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  /* border: 1px solid #000; */
}
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #000; */
}
.contact-text .item-name {
  display: flex;
  align-items: center;
}
.contact-text .item-name .contact-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f7ff;
  color: #0066cc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.contact-text h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1px;
}
.contact-text > p {
  /* border: 1px solid red; */
  font-size: 14px;
  color: #666;
  margin-left: 15px;
}
